@import "tailwindcss";

:root {
    --primary-background: hsl(0, 0%, 99%);
    --primary-text-color: black;
    --secondary-background: hsl(0, 100%, 100%);
    --secondary-text-color: hsl(0, 0%, 40%);
}

html[class="dark"] {
    --primary-background: hsl(207, 26%, 17%);
    --primary-text-color: white;
    --secondary-background: hsl(209, 23%, 22%);
    --secondary-text-color: hsl(0, 0%, 80%);
}

@theme inline {
    --color-primary-background: var(--primary-background);
    --color-primary-text-color: var(--primary-text-color);
    --color-secondary-background: var(--secondary-background);
    --color-secondary-text-color: var(--secondary-text-color);
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
}

.container {
    @apply mx-auto px-4 md:px-8
}